@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-deg: 177.5deg;
}

html {
  scroll-behavior: smooth;
}

.bg-brief {
  background-image: linear-gradient(
    var(--gradient-deg),
    #1b263b 98%,
    transparent 99%
  );
}

@media (min-width: 500px) {
  :root {
    --gradient-deg: 178deg;
  }
}

@media (min-width: 580px) {
  :root {
    --gradient-deg: 178.5deg;
  }
}

@media (min-width: 740px) {
  :root {
    --gradient-deg: 179deg;
  }
}

@media (min-width: 1200px) {
  :root {
    --gradient-deg: 179.5deg;
  }
}

@media (min-width: 1280px) {
  :root {
    --gradient-deg: 180deg;
  }
}

.bg-radial {
  background: radial-gradient(
    177.59% 177.59% at 50% -168.29%,
    #ffffff 0%,
    #868d95 76.99%,
    #0d1b2a 100%
  );
}

.loader {
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 #fff, -20px 0 #fff2;
    background: #fff;
  }
  33% {
    box-shadow: 20px 0 #fff, -20px 0 #fff2;
    background: #fff2;
  }
  66% {
    box-shadow: 20px 0 #fff2, -20px 0 #fff;
    background: #fff2;
  }
  100% {
    box-shadow: 20px 0 #fff2, -20px 0 #fff;
    background: #fff;
  }
}
